<div
  class="container-fluid mt--7 header pb-8 pt-lg-2 d-flex align-items-center"
>
  <div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">{{label}}</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form
          class="form-horizontal"
          [formGroup]="formulario"
          (ngSubmit)="onSubmit()"
        >
          <h6 class="heading-small text-muted mb-4">Informações</h6>
          <div class="pl-lg-4">
            <div class="row">
              <app-input-field
                class="col-lg-6"
                formControlName="nome"
                [classeCss]="aplicaCssErro('nome')"
                id="nome"
                label="Nome"
                [control]="formulario.get('nome')"
                type="text"
                placeholder="Digite um nome"
              ></app-input-field>
              <app-input-field
                class="col-lg-3"
                formControlName="cpf"
                [classeCss]="aplicaCssErro('cpf')"
                id="cpf"
                label="CPF"
                [control]="formulario.get('cpf')"
                type="text"
                mask="000.000.000-00"
                placeholder="000.000.000-00"
              ></app-input-field>
              <div class="form-group col-lg-3">
                <label
                  for="exampleFormControlSelect1"
                  class="form-control-label"
                  >Sexo</label
                >
                <select
                  class="form-control form-control-alternative"
                  formControlName="sexo"
                  id="exampleFormControlSelect1"
                >
                  <option *ngFor="let sex of sexo" [value]="sex.nome">
                    {{ sex.nome }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <app-input-field
                class="col-lg-3"
                formControlName="dataNascimento"
                [classeCss]="aplicaCssErro('dataNascimento')"
                id="dataNascimento"
                label="Data de Nascimento"
                [control]="formulario.get('dataNascimento')"
                type="date"
              ></app-input-field>
            </div>
          </div>
          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">Contato</h6>
          <div class="pl-lg-4">
            <div class="row">
              <app-input-field
                class="col-lg-6"
                formControlName="email"
                [classeCss]="aplicaCssErro('email')"
                id="email"
                label="E-mail"
                [control]="formulario.get('email')"
                type="text"
                placeholder="email@email.com"
              ></app-input-field>
              <app-input-field
                class="col-lg-4"
                formControlName="telefone"
                [classeCss]="aplicaCssErro('telefone')"
                id="email"
                label="Celular"
                [control]="formulario.get('telefone')"
                type="text"
                mask="(00) 0 0000-0000"
                placeholder="(00) 0 0000-0000"
              ></app-input-field>
            </div>
          </div>
          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">Endereço</h6>
          <div formGroupName="endereco">
            <div class="pl-lg-4">
              <div class="row">
                <app-input-field
                  class="col-lg-4"
                  formControlName="rua"
                  [classeCss]="aplicaCssErro('endereco.rua')"
                  id="rua"
                  label="Rua"
                  [control]="formulario.get('endereco.rua')"
                  type="text"
                  placeholder="Nome da Rua"
                ></app-input-field>
                <app-input-field
                  class="col-lg-3"
                  formControlName="numero"
                  [classeCss]="aplicaCssErro('endereco.numero')"
                  id="numero"
                  label="Numero"
                  [control]="formulario.get('endereco.numero')"
                  type="text"
                  placeholder="Numero"
                ></app-input-field>
                <app-input-field
                  class="col-lg-3"
                  formControlName="bairro"
                  [classeCss]="aplicaCssErro('endereco.bairro')"
                  id="bairro"
                  label="Bairro"
                  [control]="formulario.get('endereco.bairro')"
                  type="text"
                  placeholder="Bairro"
                ></app-input-field>
              </div>
              <div class="row">
                <app-input-field
                  class="col-lg-4"
                  formControlName="cidade"
                  [classeCss]="aplicaCssErro('endereco.cidade')"
                  id="cidade"
                  label="Cidade"
                  [control]="formulario.get('endereco.rua')"
                  type="text"
                  placeholder="Nome da Cidade"
                ></app-input-field>
                <div class="form-group col-lg-3">
                  <label
                    for="exampleFormControlSelect1"
                    class="form-control-label"
                    >Pais</label
                  >
                  <select
                    class="form-control form-control-alternative"
                    formControlName="pais"
                    id="exampleFormControlSelect1"
                  >
                    <option *ngFor="let pais of paises" [value]="pais">
                      {{ pais }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="voltar()">
              Voltar
            </button>
            <button type="reset" class="btn btn-secondary ml-auto">
              Limpar
            </button>
            <button type="submit" class="btn btn-primary ml-auto p-2">
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
